{#
 * @file
 * Default theme implementation to display a single page.
 * Place this in your theme's templates folder.
#}

<!DOCTYPE html>
<html lang="{{ language.getId }}">
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  
  <body{{ attributes }}>
  
  <header class="site-header">
  {{ page.header }}
</header>

<section class="hero-section">
  {{ page.hero }}
</section>

<section class="featured-recipes">
  {{ page.featured_recipes }}
</section>

<section class="about-section">
  {{ page.about }}
</section>

<section class="events-section">
  {{ page.events }}
</section>

<section class="contribute-section">
  {{ page.contribute }}
</section>

<footer class="site-footer">
  {{ page.footer }}
</footer>

    
  </body>
</html>
